@import "../../vars.css";

.navbar {
  position: fixed;               
  top: 0;                        
  left: 0;
  right: 0;
  background-color: #01257D;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
  z-index: 999;                
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);    
}


.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 18px;
  color: var(--color-text);
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menuItems a:hover {
  background-color:#106EBE;
  color: white;
}

.active {
  background-color:#106EBE;
  color: white;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-size: 20px;
  }

  .menu {
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    width: 20px;
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #01257D;
    padding: 24px 24px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuItems a {
    color: white;
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }

  .active {
    background-color: #01257D;
    color: white;
  }
}
