.container {
  padding: 4rem 5%;
}

.title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
}

.card {
  background: #106EBE;;
  color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
  border-color:#106EBE;
}

.featured {
  grid-column: span 2;
  background: #106EBE;
}

.expanded {
  background: #106EBE;;
}

.header {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 6px;
  background: #fff;
  padding: 5px;
}

.headline h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #fff;
}

.headline h4 {
  margin: 0;
  font-size: 1rem;
  color: white;
}

.duration {
  font-size: 0.85rem;
  color: #f5eeee;
  font-style: italic;
}

.preview {
  margin-top: 15px;
  font-size: 0.95rem;
  color: #c9d1d9;
}

.details {
  margin-top: 15px;
  padding-left: 1.2rem;
  list-style-type: disc;
  font-size: 0.95rem;
  line-height: 1.5;
}

/* summary bar */

.summary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.statBox {
  background: #f8ffff;
  border-radius: 12px;
  padding: 20px 30px;
  text-align: center;
  width: 180px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.statBox:hover {
  transform: translateY(-4px);
}

.statBox span {
  font-size: 1.8rem;
  font-weight: bold;
  color: #01257D;
}

.statBox p {
  margin-top: 5px;
  font-size: 1rem;
  color: #0789aa;
}

.highlight {
  color:navy;
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .featured {
    grid-column: span 1;
  }
}
